<section class="container my-5">
  <div class="row align-items-center">
    <div class="col-lg-6 order-1 order-lg-1 mb-3 mb-lg-0 text-center">
      <img
        src="/Image/photo_2024-08-20_10-35-53.jpg"
        class="img-fluid rounded-circle"
        alt="احسان چیت ساز طراح سایت"
      />
    </div>
    <div class="col-lg-6 order-2 order-lg-2 text-center text-lg-start">
      <h2><span class="text-primary">احسان چیت‌ساز</span></h2>
      <p>
        سلام! من احسانم، متولد 1375 و الان 28 سالمه. راستش رو بخوای، من با اینکه
        تو دانشگاه حسابداری خوندم و مدرک لیسانسم هم تو این رشته‌ست، اما از همون
        اول یه کششی به سمت دنیای برنامه‌نویسی داشتم. بعد از فارغ‌التحصیلی، یه
        سال تمام تو دوره‌های فول استک شرکت کردم و حسابی کد زدم تا Angular و
        ASP.NET رو یاد بگیرم.
      </p>
      <p>
        الان حدود یک ساله که به عنوان برنامه‌نویس فول استک تو یه شرکت مشغول به
        کارم. البته اگه بخوام روراست باشم، بیشتر حال می‌کنم با بک‌اند کار کنم
        چون حس می‌کنم تو این بخش قوی‌ترم. فرانت‌اند رو هم بلدم، ولی بک‌اند
        واقعاً دنیای خودمه.
      </p>
      <p>
        الان دارم روی یه پروژه فروشگاهی برای پخش هورکا کار می‌کنم که توش کلی
        چیزای باحال یاد گرفتم، از سئو گرفته تا اصول فروش بیشتر تو پروژه‌های
        فروشگاهی. هر روز که می‌گذره سعی می‌کنم چیزای جدید یاد بگیرم و تو کارم
        بهتر بشم. عاشق اینم که هر روز یه چالش جدید داشته باشم و تو دنیای کد زدن
        چیزای تازه کشف کنم.
      </p>
      <p>
        خلاصه اینکه، اگه دنبال کسی هستی که عاشق کد زدن باشه و از یادگیری سیر
        نشه، احتمالاً من همون آدمم!
      </p>
    </div>
  </div>
</section>
