<header class="container my-5">
  <div class="row align-items-center">
    <div class="col-lg-6 order-1 order-lg-1 text-center mb-3 mb-lg-0">
      <img
        src="/Image/photo_2024-06-21_23-24-55-removebg-preview.png"
        class="img-fluid rounded"
        alt="احسان چیت ساز طراح سایت"
        style="max-height: 600px; object-fit: contain"
      />
    </div>
    <div class="col-lg-6 order-2 order-lg-2 text-center text-lg-start">
      <h1 class="fs-2">
        سلام، من <span class="text-primary">احسان چیت‌ساز</span> هستم، خوش
        آمدید!
      </h1>
      <p>
        من احسانم، یه برنامه‌نویس وب که عاشق کد زدن و ساختن سایت‌های جالب و
        کارآمده. اگه بخوام خودم رو به طور ساده معرفی کنم، باید بگم که یه آدم
        همه‌فن حریفی هستم! یعنی هم بلدم چطور ظاهر سایت رو (فرانت‌اند) باحال و
        جذاب بسازم که کاربر خوشش بیاد و هم بلدم چطور پشت صحنه (بک‌اند) سایت رو
        طوری مدیریت کنم که همه چی مثل ساعت کار کنه.
      </p>
      <p>
        از اون جایی که تو این حوزه تجربه دارم، از کار با انواع تکنولوژی‌ها و
        ابزارها لذت می‌برم. چه بخوام یه سایت ساده بسازم، چه یه پروژه پیچیده و
        حرفه‌ای، همیشه سعی می‌کنم بهترین خودم رو ارائه بدم. اگه دنبال کسی هستید
        که هم کارش رو بلد باشه و هم با عشق کار کنه، فکر می‌کنم جای درستی اومدید!
      </p>

      <!-- <a href="#" class="btn btn-primary">دانلود رزومه</a> -->
    </div>
  </div>
</header>
