<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">خانه</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
            >صفحه اصلی</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active"
            (click)="closeMenu()"
            >درباره من</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/work"
            routerLinkActive="active"
            (click)="closeMenu()"
            >کار من</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/contact"
            routerLinkActive="active"
            (click)="closeMenu()"
            >تماس با من</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="fixed-links">
  <a href="https://www.instagram.com/ehsan.chy95" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://t.me/Ehsan_techno" target="_blank">
    <i class="fab fa-telegram-plane"></i>
  </a>
  <a href="https://www.linkedin.com/in/ehsanchitsaz98" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://github.com/ehsan0203" target="_blank">
    <i class="fab fa-github"></i>
  </a>
</div>

<router-outlet></router-outlet>
