/* تنظیمات کلی نوبار */
.navbar {
    background-color: #333; /* رنگ پس زمینه نوبار */
    position: relative; /* نوبار را در بالای صفحه ثابت می‌کند */
    top: 0;
    width: 100%;
    z-index: 1000; /* تضمین می‌کند که نوبار در بالای سایر عناصر باقی بماند */
  }
  
  .navbar ul {
    list-style-type: none; /* حذف نقاط بولت از لیست */
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex; /* ایجاد نمایش افقی برای آیتم‌های نوبار */
    justify-content: center; /* قرار دادن آیتم‌ها در وسط نوبار */
  }
  
  .navbar li {
    display: inline; /* نمایش آیتم‌ها به صورت خطی */
    padding: 14px 20px;
  }
  
  .navbar a {
    color: white; /* رنگ متن لینک‌ها */
    text-align: center;
    text-decoration: none; /* حذف خط زیر لینک‌ها */
    padding: 14px 20px;
    display: block;
  }
  
  .navbar a:hover {
    background-color: #111; /* تغییر رنگ پس‌زمینه لینک‌ها هنگام هاور */
  }
  
  .active {
    background-color: #4CAF50; /* رنگ پس زمینه برای لینک فعال */
  }
  
  /* تنظیمات برای جلوگیری از هم‌پوشانی نوبار با محتوای اصلی */
  .router-outlet {
    padding-top: 60px; /* ایجاد فاصله از بالای صفحه */
  }
  body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Vazir", sans-serif;
}

  h1,
  h2 {
    color: #ffffff;
  }

  .btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
  }
  .fixed-links {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
  background-color: #22222283;
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
z-index: 100000;
}

.fixed-links a {
  text-decoration: none;
  padding: 5px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.fixed-links a i {
  font-size: 24px;
}

/* رنگ‌های اختصاصی برای هر آیکون */
.fixed-links a i.fa-instagram {
  color: #E4405F; /* رنگ اینستاگرام */
}

.fixed-links a i.fa-telegram-plane {
  color: #0088cc; /* رنگ تلگرام */
}

.fixed-links a i.fa-linkedin {
  color: #0077b5; /* رنگ لینکدین */
}

.fixed-links a i.fa-github {
  color: #333; /* رنگ گیت‌هاب */
}

/* انیمیشن هاور برای برجسته کردن آیکون‌ها */
.fixed-links a:hover {
  transform: scale(1.2);
}

.fixed-links a:hover i.fa-instagram {
  color: #C13584;
}

.fixed-links a:hover i.fa-telegram-plane {
  color: #229ED9;
}

.fixed-links a:hover i.fa-linkedin {
  color: #005582;
}

.fixed-links a:hover i.fa-github {
  color: #6e5494;
}
