<section class="container my-5">
  <div class="row text-center">
    <div class="col-lg-8 mx-auto">
      <h2 class="text-center mb-4">تماس با من</h2>
      <p class="text-center">
        در صورت نیاز به اطلاعات بیشتر یا سوالات، لطفاً با من در تماس باشید.
      </p>

      <div class="card shadow-lg p-4">
        <div class="card-body">
          <h5 class="card-title mb-4 text-center">اطلاعات تماس</h5>
          <div class="mb-3 d-flex justify-content-center">
            <strong>ایمیل:</strong> ehsan02032014&#64;gmail.com
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <strong>موبایل:</strong> 09156201696
          </div>
        </div>
      </div>

      <form class="mt-5" (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <div class="mb-3">
          <label for="name" class="form-label">نام شما</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fas fa-user"></i>
            </span>
            <input
              type="text"
              class="form-control"
              id="name"
              [(ngModel)]="name"
              name="name"
              placeholder="نام خود را وارد کنید"
              required
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">ایمیل شما</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fas fa-envelope"></i>
            </span>
            <input
              type="email"
              class="form-control"
              id="email"
              [(ngModel)]="email"
              name="email"
              placeholder="ایمیل خود را وارد کنید"
              required
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">پیام شما</label>
          <div class="input-group">
            <span class="input-group-text">
              <i class="fas fa-comment-dots"></i>
            </span>
            <textarea
              class="form-control"
              id="message"
              [(ngModel)]="message"
              name="message"
              rows="4"
              placeholder="پیام خود را وارد کنید"
              required
            ></textarea>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="loading"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-2"
          ></span>
          ارسال پیام
        </button>
      </form>
    </div>
  </div>
</section>
